<%= form_for([:user, @nom]) do |f| %>
  <% if @nom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nom.errors.count, "error") %> prohibited this nom from being saved:</h2>

      <ul>
      <% @nom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  
  <div class="field">
    <%= f.label :animal %><br />
    <%= f.collection_select(:animal_id, Animal.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
