<h1>Listing noms</h1>

<table>
  <tr>
    <th>Animal</th>
    <th>Location</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @noms.each do |nom| %>
  <tr>
    <td><%= nom.animal_id %></td>
    <td><%= nom.location %></td>
    <td><%= nom.comment %></td>
    <td><%= link_to 'Show', [current_user, nom] %></td>
    <td><%= link_to 'Edit', edit_user_nom_path(current_user, nom) %></td>
    <td><%= link_to 'Destroy', [current_user, nom], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nom', new_user_nom_path(current_user) %>
