<p id="notice"><%= notice %></p>

<p>
  <b>Animal:</b>
  <%= @nom.animal.name %>
</p>

<p>
  <b>Location:</b>
  <%= @nom.location %>
</p>

<p>
  <b>Comment:</b>
  <%= @nom.comment %>
</p>


<%= link_to 'Edit', edit_nom_path(@nom) %> |
<%= link_to 'Back', noms_path %>
